* {
    box-sizing: border-box;
}
.baggrund {
    background-image: url(../imgs/bbbb-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "sansita";
    text-align: center;
    margin-left: -8vw;
}
h3 {
    font-family: "sansita";
}
h2 {
    font-family: "sansita";
    text-align: center;
    margin-left: -8vw;
}
img {
    width: 100%;
}
.logo {
    margin-top: 4vw;
    margin-left: 11svw;
}
.knap {
    margin-top: 4vw;
    margin: 0;
    margin-top: 1vw;
    width: 100%;
}
.produktliste {
    margin-left: 8vw;
}
.produktliste .indhold {
    margin-top: 4vw;
    padding: 3em;
}
button.modalknap {
    background: #F64340;
    border-color: #F64340;
}
.salat p {
    font-size: 20px;
    font-family: "Athelas"
}
.rogn p {
    font-size: 20px;
    font-family: "Athelas"
}
.suppe p {
    font-size: 20px;
    font-family: "Athelas"
}
.udsolgt {
    text-decoration: line-through;
}
.rabat {
    text-decoration: line-through;
    color: red;
}
.rabatpris {
    color: forestgreen;
}
.forretter .indhold:nth-child(3n+1) {
    clear: both;
}
.hovedretter .indhold:nth-child(3n+1) {
    clear: both;
}
.desserter .indhold:nth-child(3n+1) {
    clear: both;
}
.sideorders .indhold:nth-child(3n+1) {
    clear: both;
}
.drikkevarer .indhold:nth-child(3n+1) {
    clear: both;
}
footer p {
    text-align: center;
}
